%h1 Average Bus Stop Boardings for October 2012 Weekdays

%div{id: 'route_aggregations', class: 'visualization_section'}
  %h2 Route Aggregations
  = column_chart route_aggregation_path,
    { id: 'route_agg_visualization',
    class: 'visualization',
    xtitle: 'Bus Route #',
    ytitle: "#{@default_y}" }

  = form_with url: root_path, method: :get, id: 'route_agg_control' do |form|
    = form.label :field_to_aggregate
    = select('column_to_aggregate', 'column', @fields_for_routes)
    = form.submit
